In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-08-03 15:50:35,-54.8000,-68.3000,35.26,93,40,2.30
1,1,Vaini,TO,2022-08-03 15:52:03,-21.2000,-175.2000,75.36,94,40,9.22
2,2,Mount Isa,AU,2022-08-03 15:52:04,-20.7333,139.5000,62.37,67,1,0.00
3,3,Belmonte,BR,2022-08-03 15:52:04,-15.8631,-38.8828,77.72,59,8,7.81
4,4,Albany,US,2022-08-03 15:48:45,42.6001,-73.9662,83.68,53,3,1.99

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2022-08-03 15:52:03,-21.2000,-175.2000,75.36,94,40,9.22
3,3,Belmonte,BR,2022-08-03 15:52:04,-15.8631,-38.8828,77.72,59,8,7.81
4,4,Albany,US,2022-08-03 15:48:45,42.6001,-73.9662,83.68,53,3,1.99
7,7,Hithadhoo,MV,2022-08-03 15:51:58,-0.6000,73.0833,81.27,73,37,15.35
8,8,Nikolskoye,RU,2022-08-03 15:52:05,59.7035,30.7861,75.78,62,52,3.00
10,10,Jamestown,US,2022-08-03 15:47:15,42.0970,-79.2353,81.95,53,0,5.01
14,14,Uruzgan,AF,2022-08-03 15:52:06,32.8333,66.0000,82.58,16,0,8.84
17,17,Sorgun,TR,2022-08-03 15:52:07,39.8101,35.1860,79.47,44,13,15.55
23,23,Kouango,CF,2022-08-03 15:52:08,4.9934,19.9619,79.97,85,40,0.11
25,25,Poltar,SK,2022-08-03 15:52:08,48.4309,19.7941,82.11,38,64,2.80

In [14]:
preferred_cities_df.count()

City_ID       215
City          215
Country       213
Date          215
Lat           215
Lng           215
Max Temp      215
Humidity      215
Cloudiness    215
Wind Speed    215
dtype: int64

In [17]:
preferred_cities_df = preferred_cities_df.dropna()

In [18]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1        Vaini      TO     75.36 -21.2000 -175.2000
3     Belmonte      BR     77.72 -15.8631  -38.8828
4       Albany      US     83.68  42.6001  -73.9662
7    Hithadhoo      MV     81.27  -0.6000   73.0833
8   Nikolskoye      RU     75.78  59.7035   30.7861
10   Jamestown      US     81.95  42.0970  -79.2353
14     Uruzgan      AF     82.58  32.8333   66.0000
17      Sorgun      TR     79.47  39.8101   35.1860
23     Kouango      CF     79.97   4.9934   19.9619
25      Poltar      SK     82.11  48.4309   19.7941

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
3,Belmonte,BR,77.72,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
4,Albany,US,83.68,42.6001,-73.9662,
7,Hithadhoo,MV,81.27,-0.6000,73.0833,Scoop Guest House
8,Nikolskoye,RU,75.78,59.7035,30.7861,Tourist House - Sablino

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))